*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.aboutUs{
    background-image: url("../../public/images/about-sitting.jpg");
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.firstText{
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    gap: 3rem;
}

.whoLeft{
    width: 40%;
    /* border: .1rem solid blue; */
    padding-top: 3rem;
}

.wholeft{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.whoRight{
    border-radius: 1rem;
    padding: 2rem;
    width: 40%;
    /* border: .1rem solid blue; */
    background-color: rgb(246,245,240);
}

.whoright{
    background-color: rgb(93,86,68);
    padding: 2rem .6rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    color: white;
}

.vision{
    padding-bottom: .6rem;
    text-decoration: underline;
}

.secondText{
    padding: 2rem 0;
    background-color: rgb(241,241,241);
    border-radius: .9rem; 
}

.founder{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 1rem 0;
}

.founderLeft{
    width: 40%;
}

.founderRight{
    width: 40%;
}

.founderImg{
    border-radius: 1rem;
    width: 100%;
}

.founderText{
    text-align: center;
}

.meet{
    text-align: center;
    font-size: 3rem;
}

.third{
    margin: 3rem 0;
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    /* overflow-x: scroll; */
    overflow-x: auto;
    width: 100%;
    box-sizing: border-box;
}

.third::-webkit-scrollbar{
    display: none;
}

.thirdDiv{
    /* background-color: rgb(246,245,240); */
    background-color: rgb(93,86,68);
    padding: 1rem .5rem ;
    min-width: 300px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.thirdImag{
    width: 100%;
    height: 40vh;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.thirdTextDiv{
    display: flex;
    flex-direction: column;
    gap: .3rem;

}

.thirdText{
    text-align: center;
    font-weight: 800;
}