.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color:rgb(104,145,63);
  /* background-color: green; */
  position: fixed;
  width: 100%;
  /* transition: transform 0.3s ease-in-out; */
}

.logoquerydiv{
  display: none;
}

.logoquery{
  display: none;
}

.menu{
  display: none;
  color: white;
}

.logo {
  width: 9%;
}

.navLi a {
  text-decoration: none;
  color: white;
}

.active {
  background-color: white;
  border-radius: .1rem;
}

.navUl {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.button {
  padding: .5rem 1rem;
  color: white;
  background-color: transparent;
  border: .1rem solid rgb(156,183,68);
  border-radius: .5rem;
  /* box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); Add shadow */
  box-shadow: 1px 1px 4px rgb(104, 145, 63, 0.9);
  font-size: .9rem;
}

.optionsContainer {
  display: flex;
  flex-direction: column;
  color: white;
  padding: .5rem 1rem;
  border-radius: .5rem;
  border: .1rem solid rgb(156,183,68);
  gap: .5rem;
}

.option {
border-bottom: .1rem solid rgb(156,183,68);
  font-size: .8rem;
}

.btnInvolve{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .6rem;
}

@media (max-width: 1150px) {
  .header {
    gap: 1.2rem;
  }

  .navUl {
    gap: 1rem;
    font-size: .8rem;
  }

  .button {
    font-size: .8rem;
  }
}

@media (max-width: 860px) {
  .navUl {
    gap: 1rem;
    font-size: .7rem;
  }

  .button {
    font-size: .7rem;
  }

  .option {
      font-size: .6rem;
    }

}

@media (max-width: 768px) {

  .logoquerydiv{
    display: block;
    background-color:rgb(104,145,63);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    position: fixed;
    width: 100%;
  }

  .logoquery{
    display: block;
    width: 20%;
  }

  .menu{
    display: block;
    color: white;
  }

  .header {
    flex-direction: column;
    align-items: start;
    gap: 1.5rem;
    padding: 2rem;
    width: 100%; 
    border-radius: 0 0 1rem 1rem;
    position: absolute;
    display: none; 
  }

  .header.showHeader {
    display: flex;
  }

  .logo {
    display: none;
  }

  .navUl {
    flex-direction: column;
    gap: 1.5rem;
  }
}