.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color:rgb(104,145,63);
  /* background-color: green; */
}

.logo {
  width: 9%;
}

.navLi a {
  text-decoration: none;
  color: white;
}

.active {
  background-color: white;
  border-radius: .1rem;
}

.navUl {
  display: flex;
  list-style: none;
  gap: 2rem;
}